extends layout

mixin resort(resort)
  section.resort(data-resort=resort.id, class=resort.open ? 'open' : '')
    header
      a(href=resort.href)= resort.name
      a.minimax.ls-minimax(href='#')
        span.visuallyhidden Open or Close
    ul.lifts.expandable
      for status, name in resort.status
        li.lift
          span.name #{name}
          span.status(class='ls-#{status}')
    footer.expandable
      ul.summary
        for value, key in resort.stats
          li
            span(class='ls-#{key}') &nbsp;#{value}&nbsp;
            span #{key}


block content
  .content
    for resort in resorts
      mixin resort(resort)

  .content
    ui.tags
      for resorts, tag in tags
        - var href = (tag === 'all') ? '/' : '/tag/' + tag;
        li
          a(href=href)
            span= tag
            span (#{ resorts.length })