extends layout

mixin resort(resort)
  section.resort(
    data-resort=resort.id,
    data-timestamp=resort.timestamp,
    class=resort.open ? 'open' : ''
  )
    header
      a.left.icon-alone.resort-link(
        href=resort.href,
        title='Go to official #{ resort.name } page',
        target='_blank'
      )
        span.ls-external
      a.left.resort-name(href='/resort/#{ resort.id }')= resort.name
      != decorateResort(resort)
      a.right.icon-alone.minimax(href='#')
        span.ls-minimax
      a.right.icon-alone.star(href='#')
        span.ls-star
    ul.lifts.expandable
      for status, name in resort.status
        li.lift
          span.name #{name}
          span.status(class='ls-#{status}')
    footer.expandable
      ul.summary
        for value, key in resort.stats
          li
            span(class='ls-#{key}') &nbsp;#{value}&nbsp;
            span #{key}


block content
  .content(class='content-#{ resorts.length }')
    for resort in resorts
      mixin resort(resort)

  .content(class='content-#{ resorts.length + 1}')
    ui.tags
      li.starred
        a(href='/stars')
          span Starred
          span.count
      li.all
        a(href='/')
          span All
          span.count (#{ all.length })
      for obj, tag in tags
        li
          a(href='/tag/' + tag)
            span= obj.label
            span.count (#{ obj.members.length })