extends layout

include about-section
include resort


block content
  +about('hidden')
  .content(class='content-#{ resorts.length }')
    for resort in resorts
      +resort(resort)

  .content(class='content-#{ resorts.length + 1}')
    ui.tags
      li.starred
        a(href='/stars') Starred
          span.count
      li.all
        a(href='/') All
          span.count= all.length
      for obj, tag in tags
        li
          a(href='/tag/' + tag)= obj.label
            span.count= obj.members.length