extends layout

block content
  for resort in resorts
    section.resort
      header
        a(href=resort.href)= resort.name
      ul.lifts
        for status, name in resort.status
          li.lift
            span.name #{name}
            span.status #{status}
      footer
        ul.summary
          for value, key in resort.stats
            li  #{value} #{key}
