extends layout

mixin resort(resort)
  section.resort.open(data-resort=resort.id)
    header
      a(href=resort.href)= resort.name
      a.minimax(href='#') Open/Close
    ul.lifts.expandable
      for status, name in resort.status
        li.lift
          span.name #{name}
          span.status(class='ls-#{status}')
    footer.expandable
      ul.summary
        for value, key in resort.stats
          li
            span(class='ls-#{key}') &nbsp;#{value}&nbsp;
            span #{key}


block content
  for resort in resorts
    mixin resort(resort)