extends layout

include about-section
include resort


block content
  +about('hidden')

  - var numberOfColumns = resorts.length;
  - numberOfColumns += single ? 1 : 0;
  - numberOfColumns += single && resorts[0].deals && resorts[0].deals.deals ? 1 : 0;

  .content(class='content-#{ numberOfColumns }')
    for resort in resorts
      +resort(resort)

  .content(class='content-#{ numberOfColumns + 1}')
    ui.tags
      li.starred
        a(href='/stars') Starred
          span.count
      li.all
        a(href='/') All
          span.count= all.length
      for obj, tag in tags
        li
          a(href='/tag/' + tag)= obj.label
            span.count= obj.members.length