mixin description(type)
  meta(name=type, content="\
Clean, simple, easy to read, fast ski resort lift status. Liftie monitors lifts of \
#{(resorts && title.indexOf('Stars') === -1 && title.split(' | ')[1]) || 'selected'} ski resort#{(!resorts || resorts.length !== 1) ? 's' : ''}\
#{(single && resorts[0].lifts) ? ': ' + Object.keys(resorts[0].lifts.status).join(', ') : ''}. \
When the ski lift status changes, so will the display. No need to hit browser's Refresh button. Liftie remembers which \
resorts you are interested in and will show their lift status when you come back. Liftie can even help you find the latest \
ski resort deals and score discount lift tickets.")

doctype html
html(
  lang='en-US'
  data-service-worker=serviceWorker
)
  head
    title= title
    +description('description')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='application-name', content='Liftie')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(property='og:type', content='website')
    meta(property='og:image', content=og.image)
    meta(property='og:title', content=title)
    +description('og:description')

    link(rel='dns-prefetch', href='//cdn.polyfill.io')
    link(rel='manifest', href='/manifest.json')
    link(rel='stylesheet', href=cachify('/stylesheets/style#{min}.css'))
    link(rel='publisher', href='https://plus.google.com/107555641794612264233')
  body(data-ga-property-id=settings.gaPropertyId)
    block content
    block footer
      footer
        a.icon-alone(href='/about', rel='nofollow')
          span.ls-liftie
          span.text About
        a.icon-alone(href='http://furkot.com', title='Plan your ski trip with Furkot.', target='_blank', rel='nofollow')
          span.ls-furkot
          span.text Plan your trip
        a.icon-alone(href='https://github.com/pirxpilot/liftie', title='Fork Liftie.', target='_blank', rel='nofollow')
          span.ls-github
          span.text Add your resort
        a.icon-alone(href='http://codepen.io/pirxpilot/pen/EwdLc', title='Embed Liftie.', target='_blank', rel='nofollow')
          span.ls-html
          span.text Embed Liftie
        a.icon-alone(href='https://twitter.com/liftieinfo', title='Follow Liftie.', target='_blank', rel='nofollow')
          span.ls-twitter
        a.icon-alone(href='https://facebook.com/liftie.info', title='Like Liftie.', target='_blank', rel='nofollow')
          span.ls-facebook
        a.icon-alone(href='https://plus.google.com/+LiftieInfo', title='+1 Liftie.', target='_blank', rel='nofollow')
          span.ls-google-plus
        a.icon-alone(href='mailto:contact@liftie.info' title='E-mail us')
          span.ls-email
        - var slug = tag ? '/' + tag : ''
        a.icon-alone(href='/stats#{slug}', title='Check statistics', rel='nofollow')
          span.ls-pie
    script(src='https://cdn.polyfill.io/v2/polyfill#{min}.js?features=fetch', defer)
    script(src=cachify('/scripts/liftie#{min}.js'), defer)
