extends layout

mixin stats($stats)
  - var states = ['open', 'hold', 'scheduled', 'closed'];
  .summary-color-bar
    for key in states
      div(class='#{key}', style='width:#{ $stats.percentage[key] }%;')
  ul.summary
    for key in states
      li
        span(class='ls-#{key}')= $stats[key]
        span #{key}

block content
  .content.content-1
    - var size = '294px';
    section.panel.stats.open
      header
        a(href=sectionLink)= sectionTitle
      canvas(
        data-stats=stats,
        width=size,
        height=size
      )
      footer
        +stats(stats)